<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Dazar API Console</title>
</head>

<body bgcolor="gray" onload="onInit()">
<form action="" name="form1"></p>
    <fieldset>
    <p style="font-size:160%"><strong>Dazar Console - Web access to backend API for cellular apps</strong></p>
    </fieldset>
    &nbsp
    <fieldset>
    <p>
        Server URI:
        <input type="text" name="txtUri" size="10" maxlength="10" />
    </p>
    </fieldset>
    &nbsp
    <fieldset>
    <p>
        <input type="button" name="buttonRegister" style="color: black; background-color: GreenYellow" value="Register vendor" />
        Vendor Name:
        <input type="text" name="txtVendorName" size="20" maxlength="20" />
        Phone No.:
        <input type="text" name="txtPhone" size="20" maxlength="20" />
        Address:
        <input type="text" name="txtAddress" size="30" maxlength="30" />
    </p>
    <p>
        CATEGORIES: ------
        <input type="checkbox" name="restaurants" value=1> Restaurants
        <input type="checkbox" name="cafes" value=1> Cafes
        <input type="checkbox" name="clothing" value=1> Clothing
        <input type="checkbox" name="shoes" value=1> Shoes
        <input type="checkbox" name="electronix" value=1> Electronix
        <input type="checkbox" name="beauty" value=1> Beauty
        <input type="checkbox" name="home" value=1> Home
        <input type="checkbox" name="grocery" value=1> Grocery
        <input type="checkbox" name="kids" value=1> Kids
        <input type="checkbox" name="media" value=1> Media
    </p>
    </fieldset>
    &nbsp
    <fieldset>
    <p>
        <input type="button" name="buttonAddTweet" style="color: black; background-color: GreenYellow" value="Add tweet" />
        Vendor Id:
        <input type="text" name="txtVendorId" size="20" maxlength="20" />
        Tweet:
        <input type="text" name="txtTweet" size="90" maxlength="90" />
    </p>
    </fieldset>
    &nbsp
    <fieldset>
    <p>
        <input type="button" name="buttonGetTweets" style="color: black; background-color: GreenYellow" value="Get tweets" />
        Latitude:
        <input type="text" name="txtLatitude" size="20" maxlength="20" />
        Longitude:
        <input type="text" name="txtLongitude" size="20" maxlength="20" />
    </p>
     <p>
         CATEGORIES: ------
        <input type="checkbox" name="restaurants" value=1> Restaurants
        <input type="checkbox" name="cafes" value=1> Cafes
        <input type="checkbox" name="clothing" value=1> Clothing
        <input type="checkbox" name="shoes" value=1> Shoes
        <input type="checkbox" name="electronix" value=1> Electronix
        <input type="checkbox" name="beauty" value=1> Beauty
        <input type="checkbox" name="home" value=1> Home
        <input type="checkbox" name="grocery" value=1> Grocery
        <input type="checkbox" name="kids" value=1> Kids
        <input type="checkbox" name="media" value=1> Media
     </p>
     </fieldset>
     &nbsp
     <fieldset>
     <p>
        <input type="button" name="buttonAddrs2Coords" style="color: black; background-color: PaleTurquoise" value="From Address to Coordinates" />
        Customer Location Address:
        <input type="text" name="txtCurrAddress" size="30" maxlength="30" />
     </p>

    </fieldset>
    &nbsp
    <fieldset>
    <p>
        Result:
    </p>
    <p>
        <textarea rows="15" cols="120"  style="color: black; background-color: lightyellow; font-size:95%" name="results"></textarea>
    </p>
    </fieldset>
</form>

<script>
    var buttonRegister = document.form1.buttonRegister;
    var numberOfClicks = 0;

    function doSend(srvLocation) {
        xmlHttp = new XMLHttpRequest();
        var Url = "http://" + srvLocation
        xmlHttp.open( "GET", Url, false );
        xmlHttp.setRequestHeader("withCredentials", "false");
        xmlHttp.send( null );
        return xmlHttp.responseText;
    }

    function parseResponse(jsStr) {
        var obj = JSON.parse(jsStr);
        if (obj.status != 'OK') {
            return obj.info;
        }

        var data = obj.data;
        if (typeof data === 'string' || data instanceof String) {
            return data + '\n'
        }

        // for now if data is not a string, then it is an array
        res = ''
        var locs = data
        for  (var idx in locs) {
            var one = 'Address: ' + locs[idx].address + ' *** Coordinates: longitude  ' + locs[idx].coordinates.longitude + '    latitude  ' + locs[idx].coordinates.latitude;
            res += one;
            res += '\n';
        }
        res += '\n';
        return res;
    }

    function scrollDown() {
        var top = document.form1.results.offsetTop;
        var resultsArea = document.form1.results;
        if(resultsArea.selectionStart == resultsArea.selectionEnd) {
                resultsArea.scrollTop = resultsArea.scrollHeight;
        }
    }

    function cleanDisplay() {
        document.form1.results.value = '';
    }

    function sendMsg(uri) {
        var resultsArea = document.form1.results;
        resultsArea.value += parseResponse(doSend(uri));
        scrollDown();
    }

    function buttonRegister() {
        var srvLocation = document.form1.txtUri.value;

        cleanDB(srvLocation);
        cleanDisplay();

        var street =   document.form1.txtStreet.value; //' ibn gvirol, tel aviv, israel';
        radius = document.form1.txtRadius.value;
        numAddresses =  parseInt(document.form1.txtAddrs.value);
        testOneStreet(srvLocation, street, radius, numAddresses);
    }

    function onInit() {
        document.form1.txtUri.value = 'dazar.io'
    }

    buttonRegister.addEventListener("click", buttonRegister);

</script>

</body>

</html>