<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Dazar API Console</title>
</head>

<body bgcolor="gray" onload="onInit()">
<form action="" name="form1"></p>
    <fieldset>
    <p style="font-size:160%"><strong>Dazar Console - Web access to backend API for cellular apps</strong></p>
    </fieldset>
    &nbsp
    <fieldset>
    <p>
        Server URI:
        <input type="text" name="txtUri" size="10" maxlength="10" />
    </p>
    </fieldset>
    &nbsp
    <fieldset>
    <p>
        <input type="button" name="buttonRegister" style="color: black; background-color: GreenYellow" value="Register vendor" />
        Vendor Name:
        <input type="text" name="txtVendorName" size="20" maxlength="20" />
        Phone No.:
        <input type="text" name="txtPhone" size="20" maxlength="20" />
        Address:
        <input type="text" name="txtAddress" size="30" maxlength="30" />
    </p>
    <p>
        CATEGORIES: ------
        <input type="checkbox" name="boxRegRestaurants" value=1> Restaurants
        <input type="checkbox" name="boxRegCafes" value=1> Cafes
        <input type="checkbox" name="boxRegClothing" value=1> Clothing
        <input type="checkbox" name="boxRegShoes" value=1> Shoes
        <input type="checkbox" name="boxRegElectronix" value=1> Electronix
        <input type="checkbox" name="boxRegBeauty" value=1> Beauty
        <input type="checkbox" name="boxRegHome" value=1> Home
        <input type="checkbox" name="boxRegGrocery" value=1> Grocery
        <input type="checkbox" name="boxRegKids" value=1> Kids
        <input type="checkbox" name="boxRegMedia" value=1> Media
    </p>
    </fieldset>
    &nbsp
    <fieldset>
    <p>
        <input type="button" name="buttonAddTweet" style="color: black; background-color: GreenYellow" value="Add tweet" />
        Vendor Id:
        <input type="text" name="txtVendorId" size="20" maxlength="20" />
        Tweet:
        <input type="text" name="txtTweet" size="90" maxlength="90" />
    </p>
    </fieldset>
    &nbsp
    <fieldset>
    <p>
        <input type="button" name="buttonGetTweets" style="color: black; background-color: GreenYellow" value="Get tweets" />
        Latitude:
        <input type="text" name="txtLatitude" size="20" maxlength="20" />
        Longitude:
        <input type="text" name="txtLongitude" size="20" maxlength="20" />
    </p>
     <p>
         CATEGORIES: ------
        <input type="checkbox" name="boxGetRestaurants" value=1> Restaurants
        <input type="checkbox" name="boxGetgCafes" value=1> Cafes
        <input type="checkbox" name="boxGetClothing" value=1> Clothing
        <input type="checkbox" name="boxGetShoes" value=1> Shoes
        <input type="checkbox" name="boxGetElectronix" value=1> Electronix
        <input type="checkbox" name="boxGetBeauty" value=1> Beauty
        <input type="checkbox" name="boxGetHome" value=1> Home
        <input type="checkbox" name="boxGetGrocery" value=1> Grocery
        <input type="checkbox" name="boxGetKids" value=1> Kids
        <input type="checkbox" name="boxGetMedia" value=1> Media
     </p>
     </fieldset>
     &nbsp
     <fieldset>
     <p>
        <input type="button" name="buttonAddrs2Coords" style="color: black; background-color: PaleTurquoise" value="From Address to Coordinates" />
        Customer Location Address:
        <input type="text" name="txtCurrAddress" size="30" maxlength="30" />
     </p>

    </fieldset>
    &nbsp
    <fieldset>
    <p>
        <pre>Messages:                                                   Output:</pre>
    </p>
    <p>
        <textarea rows="15" cols="55"  style="color: black; background-color: lightyellow; font-size:95%" name="messages"></textarea>
        <textarea rows="15" cols="55"  style="color: black; background-color: lightyellow; font-size:95%" name="output"></textarea>
    </p>
    </fieldset>
</form>

<script>
    var buttonRegister = document.form1.buttonRegister;
    var cmdRegister = '/registerVendor'

    var catAll = "all";
    var catRestaurants = "restaurants";
    var catCafes = "cafes";
    var catClothing = "clothing";
    var catShoes = "shoes";
    var catElectronix = "electronix";
    var catBeauty = "beauty";
    var catHome = "home";
    var catGrocery = "grocery";
    var catKids = "kids";
    var catMedia = "media";

    function doSend(srvLocation, body) {
        xmlHttp = new XMLHttpRequest();
        var uri = "http://" + srvLocation
        xmlHttp.open( "POST", uri, false );
        xmlHttp.setRequestHeader("withCredentials", "false");
        xmlHttp.send( body );
        return xmlHttp.responseText;
    }

    function parseResponse(jsStr) {
        var obj = JSON.parse(jsStr);
        showResponse(obj);

        if (obj.command == 'registerVendor') {
            return parseResponseRegisterVendor(obj);
        }
        else {
           return  parseResponseUnknown(obj)
        }
    }

    function parseResponseRegisterVendor(obj) {
        var vendorId = obj.data.vendorId
        return 'vendorId: ' + vendorId;
    }

    function parseResponseUnknown(obj) {
        return 'response unknown for command: ' + obj.command;
    }

    function scrollDown() {
        var top = document.form1.messages.offsetTop;
        var messagesArea = document.form1.messages;
        if(messagesArea.selectionStart == messagesArea.selectionEnd) {
                messagesArea.scrollTop = messagesArea.scrollHeight;
        }

        top = document.form1.output.offsetTop;
        var outputArea = document.form1.output;
        if(outputArea.selectionStart == outputArea.selectionEnd) {
                moutputArea.scrollTop = outputArea.scrollHeight;
        }
    }

    function cleanDisplay() {
        document.form1.messages.value = '';
        document.form1.output.value = '';
    }

    function showRequest(uri, str) {
        var area = document.form1.messages;
        area.value += 'Request sent:\n'
        area.value +=  uri
        area.value += '\n'
        area.value += str;
        area.value += '\n\n'
    }

    function showResponse(obj) {
        var area = document.form1.messages;
        area.value += 'Response received:\n'

        var flat = JSON.stringify(obj, null, 2);
        area.value += flat;
        area.value += '\n\n'
    }

    function sendMsg(uri, body) {
        var outputArea = document.form1.output;
        outputArea.value += parseResponse(doSend(uri, body));
        scrollDown();
    }

    function getRegisterTags() {
        tags = [];
        if (document.form1.boxRegRestaurants.checked) {
            tags.push(catRestaurants);
        }
        if (document.form1.boxRegCafes.checked) {
            tags.push(catCafes);
        }
        if (document.form1.boxRegClothing.checked) {
            tags.push(catClothing);
        }
        if (document.form1.boxRegShoes.checked) {
            tags.push(catShoes);
        }
        if (document.form1.boxRegElectronix.checked) {
            tags.push(catElectronix);
        }
        if (document.form1.boxRegBeauty.checked) {
            tags.push(catBeauty);
        }
        if (document.form1.boxRegHome.checked) {
            tags.push(catHome);
        }
        if (document.form1.boxRegGrocery.checked) {
            tags.push(catGrocery);
        }
        if (document.form1.boxRegKids.checked) {
            tags.push(catKids);
        }
        if (document.form1.boxRegMedia.checked) {
            tags.push(catMedia);
        }
        if (tags.length == 0) {
            tags.push(catAll);
        }
        return tags;
    }

    function OnRegister() {
        cleanDisplay();

        var uri = document.form1.txtUri.value + cmdRegister;
        var vendor = document.form1.txtVendorName.value;
        var address =  document.form1.txtAddress.value;
        var phone = document.form1.txtPhone.value;
        var tags = getRegisterTags();


        var body = {};
        body.vendor = vendor;
        body.address = address;
        body.phone = phone;
        body.tags = tags;
        var flat = JSON.stringify(body, null, 2);

        showRequest(uri, flat);
        sendMsg(uri, flat);
    }

    function onInit() {
        document.form1.txtUri.value = "localhost";
    }

    buttonRegister.addEventListener("click", OnRegister);

</script>

</body>

</html>