<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Dazar API Console</title>
</head>

<body bgcolor="gray" onload="onInit()">
<form action="" name="form1"></p>
    <fieldset>
    <p style="font-size:160%"><strong>Dazar Console - Web access to backend API for cellular apps</strong></p>
    </fieldset>
    &nbsp
    <fieldset>
    <p>
        Server Domain:
        <input type="text" name="txtUri" size="10" maxlength="10" readonly style="background-color:LightGray;border-color:LightGray;font-size:100%"/>
    </p>
    </fieldset>
    &nbsp
    <fieldset>
    <p>
        <input type="button" name="buttonRegister" style="color: black; background-color: GreenYellow" value="Register vendor" />
        Vendor Name:
        <input type="text" name="txtVendorName" size="20" maxlength="20" />
        Phone No.:
        <input type="text" name="txtPhone" size="20" maxlength="20" />
        Address:
        <input type="text" name="txtAddress" size="30" maxlength="30" />
    </p>
    <p>
        CATEGORIES: ------
        <input type="checkbox" name="boxRegRestaurants" value=1> Restaurants
        <input type="checkbox" name="boxRegCafes" value=1> Cafes
        <input type="checkbox" name="boxRegClothing" value=1> Clothing
        <input type="checkbox" name="boxRegShoes" value=1> Shoes
        <input type="checkbox" name="boxRegElectronix" value=1> Electronix
        <input type="checkbox" name="boxRegBeauty" value=1> Beauty
        <input type="checkbox" name="boxRegHome" value=1> Home
        <input type="checkbox" name="boxRegGrocery" value=1> Grocery
        <input type="checkbox" name="boxRegKids" value=1> Kids
        <input type="checkbox" name="boxRegMedia" value=1> Media
        <input type="checkbox" name="boxRegSports" value=1> Sports
    </p>
    </fieldset>
    &nbsp
    <fieldset>
    <p>
        <input type="button" name="buttonAddTweet" style="color: black; background-color: GreenYellow" value="Add tweet" />
        Vendor Id:
        <input type="text" name="txtVendorId" size="20" maxlength="20" />
        Tweet:
        <input type="text" name="txtTweet" size="90" maxlength="90" />
    </p>
    </fieldset>
    &nbsp
    <fieldset>
    <p>
        <input type="button" name="buttonGetTweets" style="color: black; background-color: GreenYellow" value="Get tweets" />
        Latitude:
        <input type="text" name="txtLatitude" size="20" maxlength="20" />
        Longitude:
        <input type="text" name="txtLongitude" size="20" maxlength="20" />
        Radius:
        <input type="text" name="txtRadius" size="20" maxlength="20" />
    </p>
     <p>
         CATEGORIES: ------
        <input type="checkbox" name="boxGetRestaurants" value=1> Restaurants
        <input type="checkbox" name="boxGetCafes" value=1> Cafes
        <input type="checkbox" name="boxGetClothing" value=1> Clothing
        <input type="checkbox" name="boxGetShoes" value=1> Shoes
        <input type="checkbox" name="boxGetElectronix" value=1> Electronix
        <input type="checkbox" name="boxGetBeauty" value=1> Beauty
        <input type="checkbox" name="boxGetHome" value=1> Home
        <input type="checkbox" name="boxGetGrocery" value=1> Grocery
        <input type="checkbox" name="boxGetKids" value=1> Kids
        <input type="checkbox" name="boxGetMedia" value=1> Media
        <input type="checkbox" name="boxGetSports" value=1> Sports
     </p>
     </fieldset>
     &nbsp
     <fieldset>
     <p>
        <input type="button" name="buttonAddrs2Coords" style="color: black; background-color: PaleTurquoise" value="From Address to Coordinates" />
        Customer Location Address:
        <input type="text" name="txtCurrAddress" size="50" maxlength="50" />
     </p>

    </fieldset>
    &nbsp
    <fieldset>
    <p>
        <pre>Messages:                                                   Output:</pre>
    </p>
    <p>
        <textarea rows="15" cols="55"  style="color: black; background-color: lightyellow; font-size:95%" name="messages"></textarea>
        <textarea rows="15" cols="55"  style="color: black; background-color: lightyellow; font-size:95%" name="output"></textarea>
    </p>
    </fieldset>
</form>

<script>
    var buttonRegister = document.form1.buttonRegister;
    var buttonAddTweet = document.form1.buttonAddTweet;
    var buttonGetTweets = document.form1.buttonGetTweets;
    var buttonGetCoordinates = document.form1.buttonAddrs2Coords;
    var cmdRegister = '/registerVendor';
    var cmdAddTweet = '/addTweet';
    var cmdGetTweets = '/getTweets';
    var cmdGetCoordinates = '/getCoordinates';

    var catAll = "all";
    var catRestaurants = "restaurants";
    var catCafes = "cafes";
    var catClothing = "clothing";
    var catShoes = "shoes";
    var catElectronix = "electronix";
    var catBeauty = "beauty";
    var catHome = "home";
    var catGrocery = "grocery";
    var catKids = "kids";
    var catMedia = "media";
    var catSports = "sports";

    function doSend(srvLocation, body) {
        xmlHttp = new XMLHttpRequest();
        var uri = "http://" + srvLocation
        xmlHttp.open( "POST", uri, false );
        xmlHttp.setRequestHeader("withCredentials", "false");
        xmlHttp.send( body );
        return xmlHttp.responseText;
    }

    function parseResponse(jsStr) {
        var obj = JSON.parse(jsStr);
        showResponse(obj);

        if (obj.status == "FAIL") {
            return "request failed";
        }

        if (obj.command == 'registerVendor') {
            return parseResponseRegisterVendor(obj);
        }
        else if (obj.command == 'addTweet') {
            return parseResponseAddTweet(obj);
        }
        else if (obj.command == 'getTweets') {
            return parseResponseGetTweets(obj);
        }
        else if (obj.command == 'getCoordinates') {
            return parseResponseGetCoordinates(obj);
        }
        else {
           return  parseResponseUnknown(obj)
        }
    }

    function parseResponseRegisterVendor(obj) {
        var vendorId = obj.data.vendorId;
        return 'vendorId: ' + vendorId;
    }

    function parseResponseAddTweet(obj) {
        var result = obj.data;
        return 'result: ' + result;
    }

    function parseResponseGetTweets(obj) {
        var neighbours = obj.data;
        res = "";
        for (var i = 0; i < neighbours.length; i++) {
            var vendor = neighbours[i].vendorName
            var tweet = neighbours[i].tweet;
            var one = vendor + ":   " + tweet;
            res += one;
        }
        return res;
    }

    function parseResponseGetCoordinates(obj) {
        var latitude = obj.data.lat;
        var longitude = obj.data.lng;
        res = 'latitude: ' + latitude + '\n' + 'longitude: ' + longitude + '\n';
        return res
    }

    function parseResponseUnknown(obj) {
        return 'response unknown for command: ' + obj.command;
    }

    function scrollDown() {
        var top = document.form1.messages.offsetTop;
        var messagesArea = document.form1.messages;
        if(messagesArea.selectionStart == messagesArea.selectionEnd) {
                messagesArea.scrollTop = messagesArea.scrollHeight;
        }

        top = document.form1.output.offsetTop;
        var outputArea = document.form1.output;
        if(outputArea.selectionStart == outputArea.selectionEnd) {
                moutputArea.scrollTop = outputArea.scrollHeight;
        }
    }

    function cleanDisplay() {
        document.form1.messages.value = '';
        document.form1.output.value = '';
    }

    function showRequest(uri, str) {
        var area = document.form1.messages;
        area.value += '*****************  request sent:  *****************\n';
        area.value +=  ('http://' + uri);
        area.value += '\n';
        area.value += str;
        area.value += '\n\n';
    }

    function showResponse(obj) {
        var area = document.form1.messages;
        area.value += '*****************  response received:  *****************\n';

        var flat = JSON.stringify(obj, null, 2);
        area.value += flat;
        area.value += '\n\n'
    }

    function sendMsg(uri, body) {
        var outputArea = document.form1.output;
        outputArea.value += parseResponse(doSend(uri, body));
        scrollDown();
    }

    function getRegisterTags() {
        tags = [];
        if (document.form1.boxRegRestaurants.checked) {
            tags.push(catRestaurants);
        }
        if (document.form1.boxRegCafes.checked) {
            tags.push(catCafes);
        }
        if (document.form1.boxRegClothing.checked) {
            tags.push(catClothing);
        }
        if (document.form1.boxRegShoes.checked) {
            tags.push(catShoes);
        }
        if (document.form1.boxRegElectronix.checked) {
            tags.push(catElectronix);
        }
        if (document.form1.boxRegBeauty.checked) {
            tags.push(catBeauty);
        }
        if (document.form1.boxRegHome.checked) {
            tags.push(catHome);
        }
        if (document.form1.boxRegGrocery.checked) {
            tags.push(catGrocery);
        }
        if (document.form1.boxRegKids.checked) {
            tags.push(catKids);
        }
        if (document.form1.boxRegMedia.checked) {
            tags.push(catMedia);
        }
        if (document.form1.boxRegSports.checked) {
            tags.push(catSports);
        }
        if (tags.length == 0) {
            tags.push(catAll);
        }
        return tags;
    }

    function getTweetsTags() {
        tags = [];
        if (document.form1.boxGetRestaurants.checked) {
            tags.push(catRestaurants);
        }
        if (document.form1.boxGetCafes.checked) {
            tags.push(catCafes);
        }
        if (document.form1.boxGetClothing.checked) {
            tags.push(catClothing);
        }
        if (document.form1.boxGetShoes.checked) {
            tags.push(catShoes);
        }
        if (document.form1.boxGetElectronix.checked) {
            tags.push(catElectronix);
        }
        if (document.form1.boxGetBeauty.checked) {
            tags.push(catBeauty);
        }
        if (document.form1.boxGetHome.checked) {
            tags.push(catHome);
        }
        if (document.form1.boxGetGrocery.checked) {
            tags.push(catGrocery);
        }
        if (document.form1.boxGetKids.checked) {
            tags.push(catKids);
        }
        if (document.form1.boxGetMedia.checked) {
            tags.push(catMedia);
        }
        if (document.form1.boxGetSports.checked) {
            tags.push(catSports);
        }
        if (tags.length == 0) {
            tags.push(catAll);
        }
        return tags;
    }

    function OnRegister() {
        cleanDisplay();

        var uri = document.form1.txtUri.value + cmdRegister;
        var vendor = document.form1.txtVendorName.value;
        var address =  document.form1.txtAddress.value;
        var phone = document.form1.txtPhone.value;
        var tags = getRegisterTags();


        var body = {};
        body.vendor = vendor;
        body.address = address;
        body.phone = phone;
        body.tags = tags;
        var flat = JSON.stringify(body, null, 2);

        showRequest(uri, flat);
        sendMsg(uri, flat);
    }

    function OnAddTweet() {
        cleanDisplay();

        var uri = document.form1.txtUri.value + cmdAddTweet;
        var vendorId = document.form1.txtVendorId.value;
        var tweet =  document.form1.txtTweet.value;

        var body = {};
        body.vendorId = vendorId;
        body.tweet = tweet;
        var flat = JSON.stringify(body, null, 2);

        showRequest(uri, flat);
        sendMsg(uri, flat);
    }

    function OnGetTweets() {
        cleanDisplay();

        var uri = document.form1.txtUri.value + cmdGetTweets;
        var latitude = document.form1.txtLatitude.value;
        var longitude =  document.form1.txtLongitude.value;
        var radius =  document.form1.txtRadius.value;
        var tags = getTweetsTags();

        var body = {};
        body.latitude = latitude;
        body.longitude = longitude;
        body.radius = radius;
        body.tags = tags;
        var flat = JSON.stringify(body, null, 2);

        showRequest(uri, flat);
        sendMsg(uri, flat);
    }

    function OnGetCoordinates() {
        cleanDisplay();

        var uri = document.form1.txtUri.value + cmdGetCoordinates;
        var address = document.form1.txtCurrAddress.value;

        var body = {};
        body.address = address;
        var flat = JSON.stringify(body, null, 2);

        showRequest(uri, flat);
        sendMsg(uri, flat);
    }


    function onInit() {
        document.form1.txtUri.value = window.location.host;
    }

    buttonRegister.addEventListener("click", OnRegister);
    buttonAddTweet.addEventListener("click", OnAddTweet);
    buttonGetTweets.addEventListener("click", OnGetTweets);
    buttonGetCoordinates.addEventListener("click", OnGetCoordinates);

</script>

</body>

</html>