<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Dazar GIS Unittest</title>
</head>

<body bgcolor="gray" onload="onInit()">
<form action="" name="form1"></p>
    <fieldset>
    <p style="font-size:160%"><strong>Dazar - Unittesting basic GIS capabilities. APIs:</strong></p>
    <p><span style="font-size:130%">addAddress</span> - http://dazar.io/addAddress?addr=12 hasadot, ramat hasharon, israel</p>
    <p><span style="font-size:130%">neighbours</span> - http://dazar.io/neighbours?radius=300&addr=12 hasadot, ramat hasharon, israel</p>
    <p><span style="font-size:130%">all</span>        - http://dazar.io/all</p>
    <p><span style="font-size:130%">truncate</span>   - http://dazar.io/truncate</p>
    </fieldset>
    &nbsp
    <fieldset>
    <p>
        Domain:
        <input type="text" name="txtUri" size="30" maxlength="30" readonly style="background-color:LightGray;border-color:LightGray;font-size:100%"/>
        Radius:
        <input type="text" name="txtRadius" size="5" maxlength="5" style="background-color:Azure;border-color:Azure"/>
        Street:
        <input type="text" name="txtStreet" size="40" maxlength="40" style="background-color:Azure;border-color:Azure"/>
        Start:
        <input type="text" name="txtStart" size="5" maxlength="5" style="background-color:Azure;border-color:Azure"/>
        # Addresses:
        <input type="text" name="txtAddrs" size="5" maxlength="5" style="background-color:Azure;border-color:Azure"/>
    </p>
    <p>
        <input type="button" name="buttonCrawl" style="color: black; background-color: GreenYellow" value="START" />
    </p>
    <p>
        After pressing button START and obtaining the results below you can verify the results of <b>neighbours</b> API here:
         <a href="http://www.mapdevelopers.com/distance_from_to.php">Calculate distance between two addresses</a>
    </p>
        <p>
            To see Dazar API for cellular apps:
            <a href="/apiConsole">API Console</a>
        </p>
    </fieldset>
    &nbsp
    <fieldset>
        <p>
            Results:
        </p>
    <p>
        <textarea rows="25" cols="120"  style="color: black; background-color: lightyellow; font-size:95%" name="results"></textarea>
    </p>
    </fieldset>
</form>

<script>
    var buttonCrawl = document.form1.buttonCrawl;
    var numberOfClicks = 0;

    function doSend(srvLocation) {
        xmlHttp = new XMLHttpRequest();
        var Url = "http://" + srvLocation
        xmlHttp.open( "GET", Url, false );
        xmlHttp.setRequestHeader("withCredentials", "false");
        xmlHttp.send( null );
        return xmlHttp.responseText;
    }

    function parseResponse(jsStr) {
        var obj = JSON.parse(jsStr);
        if (obj.status != 'OK') {
            return obj.info;
        }

        var data = obj.data;
        if (typeof data === 'string' || data instanceof String) {
            return data + '\n'
        }

        // for now if data is not a string, then it is an array
        res = ''
        var locs = data
        for  (var idx in locs) {
            var one = 'Address: ' + locs[idx].address + ' *** Coordinates: longitude  ' + locs[idx].coordinates.longitude + '    latitude  ' + locs[idx].coordinates.latitude;
            res += one;
            res += '\n';
        }
        res += '\n';
        return res;
    }

    function scrollDown() {
        var top = document.form1.results.offsetTop;
        var resultsArea = document.form1.results;
        if(resultsArea.selectionStart == resultsArea.selectionEnd) {
                resultsArea.scrollTop = resultsArea.scrollHeight;
        }
    }

    function asyncDisplay(msg) {
        var resultsArea = document.form1.results;
        setTimeout(function() {
            resultsArea.value += msg;
        }, 0);
    }

    function cleanDisplay() {
        document.form1.results.value = '';
    }

    function cleanDB(uri) {
        var target = uri + '/truncate'
        doSend(target)
    }

    function sendMsg(uri) {
        var resultsArea = document.form1.results;
        resultsArea.value += 'Doing:  ' + uri + '\n';
        resultsArea.value += parseResponse(doSend(uri));
        scrollDown();
    }


    function loopMaster(start, end, addUri, neighboursUri, street, count, begin, startNeighMsg) {
        if (start < end && count == 0) {
            setTimeout(function loopServant() {
                var houseAddr = start + ' ' + street;
                var uri = addUri + houseAddr;
                sendMsg(uri);
                loopMaster(start + 1, end, addUri, neighboursUri, street, count, begin, startNeighMsg);
            }, 0);
            return;
        } else if (start == end && count == 0 ) {
            count  = 1;
            start = begin;
            asyncDisplay(startNeighMsg);
        }

        if (start < end) {
            setTimeout(function loopServant() {
                var houseAddr = start + ' ' + street;
                var uri = neighboursUri + houseAddr;
                sendMsg(uri);
                loopMaster(start + 1, end, addUri, neighboursUri, street, count, begin, startNeighMsg);
            }, 0);
        }
    }

    function testOneStreet(baseUri, street, range, numAddresses) {
        asyncDisplay('**** Start filling into the database the addresses of street: ' + street + ' ****\n');
        var startNeighMsg = '**** Start getting neighbours for each addresses of street: ' + street + ' in range of ' + range + ' meters ****\n';
        var addUri = baseUri + '/addAddress?addr=';
        var neighboursUri = baseUri + '/neighbours?radius=' + range + '&addr=';
        var start = parseInt(document.form1.txtStart.value);
        var end = start + numAddresses;
        loopMaster(start, end, addUri, neighboursUri, street, 0, start, startNeighMsg);
    }

    function buttonStartTest() {
        var srvLocation = document.form1.txtUri.value;

        cleanDB(srvLocation);
        cleanDisplay();

        var street =   document.form1.txtStreet.value; //' ibn gvirol, tel aviv, israel';
        radius = document.form1.txtRadius.value;
        numAddresses =  parseInt(document.form1.txtAddrs.value);
        testOneStreet(srvLocation, street, radius, numAddresses);
    }

    function onInit() {
        document.form1.txtUri.value = window.location.host;
        document.form1.txtRadius.value = 25;
        document.form1.txtAddrs.value = 10;
        document.form1.txtStreet.value = 'ibn gvirol, tel aviv, israel';
        document.form1.txtStart.value = 1;
    }

    buttonCrawl.addEventListener("click", buttonStartTest);

</script>

</body>

</html>
